go 1.27.0

use (
	./apps/server
	./libs/core
	./libs/imaging
	./libs/library
	./libs/media
	./libs/metadata
	./libs/naming
	./libs/plugin
	./libs/proto
	./libs/store
	./libs/streaming
	./libs/subtitle
	./plugins/dlna
	./plugins/scraper-fanart
	./plugins/scraper-musicbrainz
	./plugins/scraper-openlibrary
	./plugins/scraper-theaudiodb
	./plugins/scraper-tmdb
	./plugins/subtitles-opensubtitles
	./tools/fixtures
	./tools/testport
)
